<h1> Hello and welecome to my geolocation add site </h1>
<p> Location-based apps (such as Waze and the Pokémon GO) are becoming more common,  </p>
<p> and there are many opportunities in the area for non-site-based apps,  </p>
<p> but a common uncertainty factor is often the business model. A possible    </p>
<p> business model is to have ads and offers that were also site-based. Then a service is   </p>
<p> required that passes these ads and offers between advertiser and location-based app.</p>
<p> That is what this site aims to do. Here companies can put upp adds that geolocation </p>
<p> based apps can pick up and advertise for a fee. </p>
<p> so who is this site for ? </p>
<p> 1. companies who develop apps and games with geolocation technologies </p>
<p> 2. companies that want to offer geolocation based adds </p>
